@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

html, body, label {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* navigation 
 - show navigation always on the large screen devices with (min-width:1024)
*/

// @media (min-width: 1024px) {
//   .top-navbar {
//     display: inline-flex !important;
//   }
// }

/* .bg {
  background: radial-gradient(ellipse at top, #ffe865, transparent),
              radial-gradient(ellipse at bottom, #a29540, transparent);
} */